@import "susy";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

// $media-layout: 5 35em;

.content {
  @include container;
}

.main {
  @include span-columns(9, $total-columns, 1.5em);
}

.sidebar {
  @include span-columns(3 omega, $total-columns, 1em);
}

// TODO
// @include at-breakpoint($media-layout) {
//   .content {
//     @include container;
//     @include susy-grid-background;
//   }

//   .main {
//     @include span-columns(5 omega);
//   }

//   .sidebar {
//     @include span-columns(5 omega);
//   }
// }