@import "susy";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

.content {
  @include container;
}

.main {
  @include span-columns(9, $total-columns, 1.5em);
}

.sidebar {
  @include span-columns(3 omega, $total-columns, 1em);
}

@include at-breakpoint(5 800px) {
  .main {
    @include span-columns(5 omega, 5, 1.5em);
  }

  .sidebar {
    @include span-columns(5 omega, 5, 1em);
  }
}
