html, body {
  height: 100%;
}

body {
  background: #fff;
  text-align: justify;
  font-size: 18px;
}

a {
  color: $link;
  text-decoration: none;

  code {
    color: $link !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  color: $base-text;

  a, a:hover {
    color: $base-text;
    text-decoration: none;
  }
}

h2, h3, h4 {
  margin-top: 1em;
  padding-top: 1em;
}

pre {
  white-space: pre;
}

p {
  line-height: 1.7em;
  color: $base-text;
}

strong {
  color: #333;
}
