html, body {
  height: 100%;
}

body {
  background: #fff;
  text-align: justify;
}

a {
  color: $link;
  text-decoration: none;

  code {
    color: $link !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  a, a:hover {
    color: darken($link, 10%);
    text-decoration: none;
  }
}

pre {
  white-space: pre;
}
