= wrap_layout :layout do
  %article.post
    %h1
      = current_article.title
    .post--date
      = current_article.date.strftime('%Y/%m/%d')
    .clearfix
    .post--tags
      = tag_links(current_article)
    .post--body
      ~ yield
    .comments
      #disqus_thread
      :javascript
        var disqus_shortname = 'julioblog'; // required: replace example with your forum shortname

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %a{href: "http://disqus.com", class: "dsq-brlink"}
        comments powered by
        %span.logo-disqus Disqus
