- content_for :head do
  %meta{ name: 'twitter:card', content: 'summary' }
  %meta{ name: 'twitter:site', content: '@julioolvr' }
  %meta{ name: 'twitter:title', content: current_article.title }
  %meta{ name: 'twitter:description', content: current_article.data[:twitter_summary] || html_to_plain_text(current_article.summary) }
  %meta{ name: 'twitter:image', content: absolute_url(current_article.data[:image]) }

= wrap_layout :layout do
  %article.post
    .date
      = current_article.date.strftime('%Y/%m/%d')
    %h1
      = current_article.title
    .tags
      = tag_links(current_article)
    ~ yield
    .comments
      #disqus_thread
      :javascript
        var disqus_shortname = 'julioblog'; // required: replace example with your forum shortname

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %a{href: "http://disqus.com", class: "dsq-brlink"}
        comments powered by
        %span.logo-disqus Disqus
