%section.sidebar
  %a{href: '/'}
    = image_tag 'https://api.twitter.com/1/users/profile_image?screen_name=_joliv&size=original', class: 'sidebar-profile-pic'
  .sidebar-social
    .icon
      %a{href: 'http://www.twitter.com/_joliv', target: 'blank'}
        = image_tag 'icons/Twitter.png'
    .icon
      %a{href: 'http://www.linkedin.com/in/julioolivera', target: 'blank'}
        = image_tag 'icons/LinkedIn.png'