%section.sidebar
  %a{href: '/'}
    = image_tag 'http://www.gravatar.com/avatar/a81ad64d19c864be3c478b761f4b4817?s=150', class: 'sidebar-profile-pic'
  %ul.sidebar-bio
    %li
      %a{href: '/'} julio olivera
    %li software developer
    %li
      = succeed ',' do
        %a{href: 'http://github.com/julioolvr', target: 'blank'} github
      %a{href: 'http://www.twitter.com/julioolvr', target: 'blank'} twitter
