%section.sidebar
  %a{href: '/'}
    = image_tag gravatar_url, class: 'sidebar-profile-pic'
  %ul.sidebar-bio
    %li
      %a{href: '/'} julio olivera
    %li software developer
    %li
      = succeed ',' do
        %a{href: 'http://github.com/julioolvr', target: 'blank'} github
      %a{href: 'http://www.twitter.com/julioolvr', target: 'blank'} twitter
