@import "compass";

@media screen and (max-width: 799px) {
  .sidebar {
    @include clearfix;
    position: static;
    float: none;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;

    .sidebar-social {
      clear: none;
      float: left;

      .icon {
        padding-top: 0;
      }
    }

    .sidebar-archive {
      clear: left;
      float: left;
      padding-top: 5px;
    }
  }
}