---
pageable: true
---

- page_articles.each do |article|
  %article.index-post
    %h2= link_to article.title, article
    .index-post--date= article.date.strftime('%B %e, %Y')
    .index-post--summary~ article.summary
- if paginate
  - if prev_page
    %p= link_to 'Previous', prev_page
  - if next_page
    %p= link_to 'Next', next_page
