@import "compass";

.post {
  & > h1 {
    margin-bottom: 0;
  }

  .date {
    color: gray;
    float: right;
    @include adjust-font-size-to(12px);
  }

  .comments {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tags {
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }
}

.index-post {
  & > h2 {
    margin-bottom: 0;
  }

  .index-post-date {
    font-style: italic;
    @include adjust-font-size-to(12px);
  }
}