@import "compass";

.post {
  .comments {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.index-post {
  & > h2 {
    margin-bottom: 0;
  }

  .index-post-date {
    font-style: italic;
    @include adjust-font-size-to(12px);
  }
}