@import "compass";

.post {
  & > h1 {
    width: 80%;
    margin-bottom: 0;
    text-align: left;
  }

  .date {
    color: gray;
    float: right;
    @include adjust-font-size-to(12px);
  }

  .comments {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tags {
    font-size: 0.8em;
    margin-bottom: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.index-post {
  & > h2 {
    $movement-duration: .1s;
    $movement-distance: .5em;
    $timing-function: ease-out;

    margin-bottom: 0;
    transition: margin-left $movement-duration $timing-function, padding-right $movement-duration $timing-function;

    &:hover {
      margin-left: -$movement-distance;
      padding-right: $movement-distance;
    }
  }

  .index-post-date {
    color: gray;
    @include adjust-font-size-to(12px);
  }
}

.post, .index-post {
  blockquote {
    margin: 1em 3em;
    color: $quote-text-color;
    border-left: 2px solid $quote-text-color;
    padding-left: 1em;
  }

  pre {
    border-left: 2px solid $base-text;
  }
}
