@import "compass";

.sidebar {
  display: flex;
  align-items: center;
  padding-top: 2em;

  .sidebar-bio {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    @include adjust-font-size-to(12px);
  }

  .sidebar-profile-pic {
    width: 150px;
    height: 150px;
    box-shadow: rgba(0,0,0,.3) 0px 2px 2px;
  }
}
