@import "compass";

.sidebar {
  height: 100%;
  padding-top: 100px;
  background-color: rgba(#fff, 0.5);
  position: fixed;
  border-left: 1px solid #dfdfdf;

  .sidebar-profile-pic {
    width: 150px;
    height: 150px;
    border-bottom: solid 2px $link;
  }

  .sidebar-bio {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    @include adjust-font-size-to(12px);
  }
}