@import "compass";

.sidebar {
  height: 100%;
  padding-top: 10px;
  background-color: rgba(#fff, 0.5);

  .sidebar-profile-pic {
    width: 73px;
    height: 73px;
    float: right;
    @include border-radius(7px);
  }

  .sidebar-social {
    clear: both;
    float: right;

    .icon {
      float: left;
      padding-top: 10px;
      padding-left: 5px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .sidebar-archive {
    padding-top: 20px;
    padding-right: 5px;
    text-align: right;
    clear: both;
    @include adjust-font-size-to(12px);
  }
}